name: Sign Off commits in UI

on:
  push:
    paths:
    - '*.md'

jobs:
  sign-off-commit:
    name: sign
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: npm ci
      run: npm ci
    - name: lint and push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git checkout "${GITHUB_HEAD_REF}"
        git config --global user.name ${GITHUB_ACTOR}
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
        
        git add .
        git commit --amend --no-edit --signoff
        git push -u origin ${GITHUB_HEAD_REF} -f
